body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
}
header{
    background-color: #fff;
    /* border-bottom: 1px solid #ccc; */
    text-align: center;
}

.header_img {
    padding: 0;
    border: none;
    margin: auto;
    display:flex;  /* 定義 */
    justify-content: center;
    width:100%;  
}
/* 
.header_img img {
    text-align: center;
    list-style-type:none;
    border: 1px solid #666;
    background-color: #FFF;
    display:table-cell;
    cursor: pointer;
} */

/* こっからメイン */

main{
    /* border-bottom:1px solid #ccc; */
    text-align: center;
}
/* p{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:200px;
} */
/* #pc_display {
    padding-top: 200px;
} */

ul{
    padding-right:0;
    padding-left: 0;
    padding-bottom: 300px;
    /* border-top: 1px solid #000000; */
    display:table;  /* 定義 */
    table-layout: fixed;
    width:100%;
}
li{
    text-align: center;
    list-style-type:none;
    /* border: 1px solid #666; */
    background-color: #FFF;
    display:table-cell;  /* 定義 */
    cursor: pointer;
    vertical-align: middle;
}

.btn_img {
    max-width: -webkit-fill-available;
}

li:hover{
    background: #0066CC;
    color:#fff;
}

#judgement {
    padding-top: 100px;
}

#summary_msg {
    padding-top: 50px;
}

#summary {
    max-width: max-content;
    font-size: initial;
    margin: auto;
    text-align: left;
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    
}

.tableborder {
    text-align: end;
    border-right: 1px solid #bfbfbf;
}

.tablerate {
    text-align: end;
}

#again {
    text-decoration: none;
    color: black;
    width: 100px;
    height: 50px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hotpink;
    /* max-width: max-content; */
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

#reset{
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    background: gray;
    /* max-width: max-content; */
    margin: 50px auto;
    border: none;
}

#footer {
    margin: auto;
    width: 100%;
    background: #707070;
    color: white;
    font-size: 8px;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
}